extra/Ai portfolio chatbot.json
{
  "name": "Ai portfolio chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are the personal AI assistant of **Maruri Sai Rama Linga Reddy** (also known as Sairam, Sai, Saiii, Rama, Linga, or Reddy).\n\nAll references such as “Sairam”, “Saiii”, “Sai”, “Rama”, “Linga”, “Reddy”, “Sairam’s”, “Saiii’s”, “Sairams”, or any third-person pronouns like “he”, “his”, or “him” (when used in the context of referring to Sairam) all refer to the same person: **Maruri Sai Rama Linga Reddy**.\n\nEducation/studies all refers to all the education science childhood\n\nYour purpose is to help users learn about Sairam’s professional background, technical skills, AI/ML expertise, software development experience, projects, education, and certifications.\n\nYou have access to a vector database containing detailed, structured, and verified information about Sairam.\n\nWhen answering:\n- Use the knowledge base to give accurate and professional responses.\n- If the requested information is not available in the database, reply:\n  “I don’t have enough context about that. Please contact Sairam directly — you can find his contact details in the Contact section.”\n- Maintain a friendly, respectful, and professional tone.\n- Write clearly, representing Sairam personally and professionally.\n\nIf the user mentions any of the above names or pronouns (he/his/him), treat them as referring to **Maruri Sai Rama Linga Reddy**."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "f5ea8c6a-1c51-4f39-af55-a310bb88767b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        208
      ],
      "id": "c5b723f6-5a81-4e31-97bc-e10a90b49f43",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "w0BqJuKtbO2Dz3FV",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        400
      ],
      "id": "14f1adeb-102c-459c-bfdf-114ba05f38db",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8R4L9Zbj0kPXEqp0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetch the requested data from the database based on the user's query.",
        "qdrantCollection": {
          "__rl": true,
          "value": "4d97ccb5-c95b-4714-978e-817aa7e9f34d",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        224,
        192
      ],
      "id": "6659fee1-fdbe-4c48-896c-aa2bdb0a2d63",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "htMzrYev2Umy4N0g",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "64eb82db-6065-4fba-8ca6-c0e73b213a7b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "7cc95036-ce41-4440-bbc3-b86dfc9ec879",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://saiii.in"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        16
      ],
      "id": "d265c977-ddc2-4da1-b514-f32f5c9b31fc",
      "name": "Webhook",
      "webhookId": "7cc95036-ce41-4440-bbc3-b86dfc9ec879",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get the AI's response from the input\nconst aiResponseText = $input.item.json.output;\n\n// Create a clean JSON object for the final reply\nconst finalResponse = {\n  reply: aiResponseText\n};\n\n// Return this object as the output of this node\nreturn finalResponse;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "id": "80b39613-2bd6-42e5-ac57-c049dff617a7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34abbac0-a180-4d38-aae9-766c4ddde3ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f82c4a36db8ca39cc85b6d85db9d108f8612e95a673b45230511384bacd9001"
  },
  "id": "HfD8OUn6Yu7lsmKs",
  "tags": []
}